<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Application</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">List</li>
			</ol>
		</nav>
	</div>
	 
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-12 col-lg-9 d-flex">
		<div class="card w-100">
			<div class="card-header py-3">
				<div class="row g-3">
					<div class="col-lg-4 col-md-6 me-auto">
						<div class="ms-auto position-relative">
							<div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i>
							</div>
							<input class="form-control ps-5" type="text" (keyup)="searchName($event)"  placeholder="Search Application">
						</div>
					</div>					 
					<div class="col-lg-2 col-6 col-md-3" >
						<select class="form-select"   (change)="changeSize($event)">
							<option value="5">Show 5</option>
							<option value="10" >Show 10</option>
							<option value="20">Show 20</option>
						</select>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-middle">
						<thead class="table-light">
							<tr>
								<th>Name</th>
								<th>Discription</th>
								<th>Salt</th>
								<th>Status</th> 
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody  >
							<tr  *ngFor="let application of applications" >
								<td *ngIf="application"> 
									<div class="ms-2">
										<h6 class="mb-1 font-14">{{application.appName}}</h6>
										<p class="mb-0 font-13 text-secondary">Id #{{application.id}}</p>
										<p class="mb-0 font-13 text-secondary">Access #{{application.access}}</p>
									</div>
								</td>			
								
								<td *ngIf="application">{{application.description}}</td>
								<td *ngIf="application">{{application.salt}}</td>
								<td *ngIf="application && application.isActive"><span class="badge rounded-pill alert-success">Active</span>
								<td *ngIf=" application && !application.isActive"><span class="badge rounded-pill alert-danger">In-Active</span>
								</td>
								<td *ngIf="application" >{{application.onBoardTime | date:'dd/MM/YYYY'}}</td>
								<td *ngIf="application">
									<div class="d-flex align-items-center gap-3 fs-6"> 
										<a href="javascript:;"  [routerLink]="['/application/details/', application.id]" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views">
											<i class="bi bi-eye-fill"></i>
										</a>
										<a href="javascript:;" [routerLink]="['/application/edit/', application.id]" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
											<i class="bi bi-pencil-fill"></i>
										</a>
										<a href="javascript:;"  (click)="deleteApp(application.id)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete">
											<i class="bi bi-trash-fill"></i>
										</a>
									</div>
								</td>
							</tr>
							 
						</tbody>
					</table>
				</div>

				
				<nav class="float-end" aria-label="Page navigation" >
					<ngb-pagination [collectionSize]="totalDataSize" [pageSize]="pageSize" (pageChange)="pageChanged($event)" [(page)]="currentPage" aria-label="Default pagination" [boundaryLinks]="true" ></ngb-pagination>
				</nav>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3 d-flex">
		<div class="card w-100">
			<div class="card-header py-3">
				<h5 class="mb-0">Filter by</h5>
			</div>
			<div class="card-body">
				<form class="row g-3" [formGroup] ="filterForm" (ngSubmit)="onFilter()">	
					 
					<div class="col-12">
						<label class="form-label">Application Status</label>
						<select class="form-select"  formControlName="active" >
							<option value="true">Active</option>
							<option value="false">In-Active</option>
						</select>
					</div> 
					<div class="col-12">
						<label class="form-label">To Date</label>
						<input type="date" class="form-control" formControlName="toDate"   />
					</div>
					<div class="col-12">
						<label class="form-label">From Date</label>
						<input type="date" class="form-control" formControlName="fromDate"   />
					</div>
					<div class="row row-cols-auto g-3">
						<div class="col">
							<button class="btn btn-primary" type="submit" [disabled]="submitted">Filter </button>
						</div>

						<div class="col">
							<button class="btn btn-primary"  (click)="clear()" type="button">Clear </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--end row-->