<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Application</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">View Details</li>
			</ol>
		</nav>
	</div> 
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="card">
			<div class="card-header py-3 bg-transparent">
				<h5 class="mb-0">Application</h5>
			</div>
			<div class="card-body">
				<div class="border p-3 rounded">
					<form class="row g-3 needs-validation" [formGroup] ="applicationEditForm" (ngSubmit)="onSignIn()">

                        <div class="col-12">
							<label class="form-label">Application ID</label>
							<input type="text" class="form-control" placeholder="Product Id"   formControlName="id" required  />
						</div>

                        <div class="col-12">
							<label class="form-label">Application Access</label>
							<input type="text" class="form-control" placeholder="Application Access"    formControlName="access" required/>
						</div>
						<div class="col-12">
							<label class="form-label">Application Name</label>
							<input type="text" class="form-control" placeholder="Application Name"  formControlName="name" required />
						</div>
						<div class="col-12">
							<label class="form-label">Full description</label>
							<textarea class="form-control" placeholder="Full description" rows="4" cols="4"   formControlName="description" required></textarea>
						</div>
						<div class="col-12">
							<label class="form-label">Application Salt</label>
							<input type="text" class="form-control" placeholder="Application Salt" formControlName="salt" required/>
						</div>
						<div class="col-12">
							<label class="form-label">On Boarding Date</label>
							<input type="date" class="form-control" placeholder="Date"  formControlName="onBoardTime" required/>
						</div>
						<div class="col-12 col-md-6">
							<label class="form-label">Status</label>
							<select class="form-select"  formControlName="active" >
								<option value="true">Active</option>
								<option value="false" selected>In-Active</option> 
							</select>
						</div>
						 
						 
						<div class="row row-cols-auto g-3">
                            <div class="col" *ngIf="!idEditable">
                                <button type="button" class="btn btn-outline-primary px-5" (click)="editable()">Edit Application</button>
                            </div>
                            <div class="col" *ngIf="idEditable">
                                <button type="button" class="btn btn-outline-primary px-5" (click)="update()">Update Application</button>
                            </div>
                            <div class="col" *ngIf="idEditable">
                                <button type="button" class="btn btn-outline-primary px-5" (click)="cancelUpdate()">Cancel</button>
                            </div>
                           
                        </div>

                        
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->