
<!--start wrapper-->
<div class="wrapper">
    
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white rounded-0 border-bottom">
			<div class="container">
				<a class="navbar-brand" href="javascript:;">
					<img src="assets/images/brand-logo-2.png" width="140" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					 
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						 
						<li class="nav-item"> <a class="nav-link" href="javascript:;">Support</a>
						</li>
					</ul>
					<div class="d-flex ms-3 gap-3">	<a href="JavaScript:;" (click)="onSignin()" class="btn btn-white btn-sm px-4 radius-30">Login</a>
						<a href="JavaScript:;" (click)="onSignup()" class="btn btn-white btn-sm px-4 radius-30">Register</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<!--start content-->
	<main class="authentication-content">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
              <div class="card shadow-none bg-transparent">
                <div class="card-body text-center">
                    <h1 class="display-4 mt-5">Thank you!.!</h1>

                    <hr/>
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p> You are successfully registered with us.<br> Please check your registered email and verify you account.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Registered Email :<cite title="Source Title">{{email}}</cite>
                        </figcaption>
                    </figure>

                
                  <div class="row">
                    <div class="col-12 col-lg-12 mx-auto">
                       
                      <h4 class="mt-3">Follow Us :</h4>
                      <div class="error-social mt-3"> <a href="javascript:;" class="bg-facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="javascript:;" class="bg-twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="javascript:;" class="bg-google"><i class="bx bxl-google"></i></a>
                        <a href="javascript:;" class="bg-linkedin"><i class="bx bxl-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
	</main>
	  
	<!--end page main-->
	<footer class="bg-white border-top p-3 text-center fixed-bottom">
		<p class="mb-0">Copyright © 2021. All right reserved.</p>
	</footer>

</div>
<!--end wrapper-->
